.cart__content {
    display: flex;
    column-gap: 60px;
}

.cart__products {
    display: grid;
    grid-gap: 24px;
}

.cart__product {
    border-bottom: 2px solid #000000;

    display: flex;
    column-gap: 60px;

    padding: 15px 0;

    &:first-child {
        border-top: 2px solid #000000;
    }
}

.cart__content__left {
    flex: 1 1 70%;
}

.cart__content_rigth {
    display: inline-flex;
}

.cart__product_img {
    width: 100%;
    height: 100%;
}

.cart__product_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
}

.cart__product_info_top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cart__product_href {
    font-size: 20px;
    font-weight: 600;

    &:hover {
        text-decoration: underline;
    }
}

.cart__product_company {
    grid-row: 2/3;
}

.cart__product_delete {
    cursor: pointer;

    text-decoration-line: underline;

    margin-left: auto;
}

.cart__product_info_bottom {
    display: flex;
    justify-content: space-between;
}

.cart__product_count {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.cart__product_count {
    * {
        cursor: pointer;
    }
}

.cart__product_price {
    display: flex;
    justify-content: flex-end;
}

.cart__product_interaction {
    font-size: 20px;
    font-weight: 500;
}

.cart__product_number {
    border: 0;

    display: inline-flex;
    justify-content: center;

    text-align: center;

    width: 30px;
}

.cart__content_rigth {
    display: flex;
    flex-direction: column;
}

.cart__rigth_buttons {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.cart__rigth_button {
    background: none;

    border: 1px solid #D9D9D9;

    font-size: 17px;

    padding: 18px 0;

    flex: 1 1 100%;

    &:last-child {
        background: #BAAB9E;

        color: #FFFFFF;
    }
}

.cart__amount {
    display: flex;
    justify-content: space-between;

    margin-right: 30px;
    margin-bottom: 44px;

    width: 100%;
}