* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    line-height: 170%;

    -webkit-appearance: none;
    -moz-appearance: none;
}

a {
    color: #333333;
    text-decoration: none;
}

button {
    border: 0;
    cursor: pointer;
}

ul, li {
    list-style: none;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}